.DS_Store
.vscode
node_modules
.node-version
/dist
/export*
npm-debug*
.env

# Ignore all logfiles and tempfiles.
/log/*
*.log
!/log/.keep
/tmp
coverage
.idea

# Ignore the template files
page.html
auth.html
dashboard.html